.container {
  @apply flex min-h-screen max-w-full bg-[#F8F8FF] overflow-x-hidden lg:overflow-visible;
}

.content {
  @apply flex w-full flex-1 grow flex-col;
}

.wrapper {
  @apply relative mx-auto size-full max-w-screen-2xl pt-10 px-4 pb-4;
}
